<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (patient) {
      <div>
        <h2 data-cy="patientDetailsHeading"><span>Patient</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ patient.id }}</span>
          </dd>
          <dt><span>Name</span></dt>
          <dd>
            <span>{{ patient.name }}</span>
          </dd>
          <dt><span>Email</span></dt>
          <dd>
            <span>{{ patient.email }}</span>
          </dd>
          <dt><span>Phone Number</span></dt>
          <dd>
            <span>{{ patient.phone_number }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/patient', patient.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
